*{
	text-decoration:none;
}
body{
font: 13pt Arial, Helvetica, sans-serif; 
background: #e1dfb9; 

}

h2 {
    font-size: 18px; 
    color: #080808; 
    margin-top: 0; 
   }

.container {
    width: 600px; 
    margin: 0 auto; 
    background: #f0f0f0; /
   }

.header {
    font-size: 38px; 
    text-align: center; 
    padding: 5px; 
    background-color:#FF8C00; 
    color: #fff;
   }

.sidebar {
    margin-top: 10px;
    width: 110px; 
    padding: 0 10px; 
    float: left;
	
   }

.content {
    margin-left: 130px; 
    padding: 10px; 
    background-color: #fff; 
   }

 .footer {
    background-color:#FF8C00; 
    color: #fff; 
    padding: 5px; 
   }
main{
 width:1920;
 margin:0px auto;
 font-family:Arial
 }
 .cl-1{
	 width:420px;
	 height:250px;
 }
.cl-2{
display:flex; 
 margin:0 auto;
 background-color:#FF8C00;
 width:100px;
height:50px;
color:white;
border-radius:25px;
margin-top:25px; 
 margin-bottom:40px;
 text-align:center;
 }
 .cl-3{
	 color:red;
	 background-color:#F0E68C;
	 display:flex; 
 margin:0 auto;
 width:100px;
height:50px;
border-radius:25px;
margin-top:25px; 
 margin-bottom:40px;
 text-align:center;
 }
 
 